name: CI
on: ["push"]

jobs:
  test:
    name: Lint and check dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - uses: actions/checkout@v4
      - run: yarn install
      - run: yarn lint
      - run: yarn dist && git diff --exit-code
